In [1]:
import numpy as np
import pandas as pd
from sklearn.utils import resample

In [2]:
# Set the random seed for reproducibility 
np.random.seed(123)
# Create a data frame with two classes 
n_samples=1000
class_0_ratio=0.9
n_class_0=int (n_samples* class_0_ratio)
n_class_1= n_samples - n_class_0

In [3]:
print(n_class_0,n_class_1)

900 100

In [4]:
class_0=pd.DataFrame({
    'feature_1': np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_2': np.random.normal(loc=0,scale=1,size=n_class_0),
    'target': [0] * n_class_0
})

class_1=pd.DataFrame({
    'feature_1': np.random.normal(loc=0,scale=1,size=n_class_1),
    'feature_2': np.random.normal(loc=0,scale=1,size=n_class_1),
    'target': [1] * n_class_1
})

In [5]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [6]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [9]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

# Up sampling 
Make extra points

In [8]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]
print(df_minority.head())
print(df_majority.head())

     feature_1  feature_2  target
900  -0.300232   0.139033       1
901  -0.632261   0.025577       1
902  -0.204317  -0.196443       1
903   0.213696   1.312255       1
904   1.033878   1.187417       1
   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [175]:
# Perform UpSampling 
from sklearn.utils import resample
df_minority_upsample=resample(df_minority,
                              replace=True, ## Select with replacement 
                              n_samples=len(df_majority), # To match the majority class 
                              random_state=42 
                             )

In [176]:
print(df_minority_upsample.shape)
print(df_minority_upsample.head())
df_minority_upsample['target'].value_counts()

(900, 3)
     feature_1  feature_2  target
951  -0.874146  -0.156083       1
992   0.196570  -0.602575       1
914  -0.067830   0.998053       1
971   0.272825   1.034197       1
960   0.870056  -0.449515       1

1    900
Name: target, dtype: int64

In [177]:
df_upsampled=pd.concat([df_majority,df_minority_upsample])
df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

# Down Sampling 
The one having the low point must be downsized

In [178]:
class_0=pd.DataFrame({
    'feature_1': np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_2': np.random.normal(loc=0,scale=1,size=n_class_0),
    'target': [0] * n_class_0
})

class_1=pd.DataFrame({
    'feature_1': np.random.normal(loc=0,scale=1,size=n_class_1),
    'feature_2': np.random.normal(loc=0,scale=1,size=n_class_1),
    'target': [1] * n_class_1
})

In [179]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [180]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [181]:
df_majority_downsample=resample(df_majority,
                                replace=False,
                                n_samples=len(df_minority),
                                random_state=42
)
print(df_majority_downsample.shape)
df_downsample=pd.concat([df_minority,df_majority_downsample])

(100, 3)

In [182]:
df_majority_downsample.shape

(100, 3)

In [183]:
df_downsample['target'].value_counts()

1    100
0    100
Name: target, dtype: int64