## Measure of Cental Tendency

In [1]:
# Mean (Average)
age=[12,21,23,45,65,43,56,45,32,67,54,34]

In [2]:
import numpy as np 
np.mean(age)

41.416666666666664

In [3]:
weights=[54,45,34,54,67,75,54]
np.mean(weights)

54.714285714285715

In [4]:
import seaborn as sns
df=sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
np.mean(df['total_bill'])

19.78594262295082

In [6]:
# Mediann
age=[12,21,23,45,65,43,56,45,32,67,54,34]
np.median(age)

44.0

In [9]:
# Outlier and importance of median

print("Orignal data")
age=[12,21,23,45,65,43,56,45,32,67,54,34]
np.median(age)
print("Median: ",np.median(age))
print("Mean: ",np.mean(age))
age=[12,21,23,45,65,43,56,45,32,67,54,34,200]
print("\nWith Outlier")
print("Median: ",np.median(age))
print("Mean: ",np.mean(age))

Orignal data
Median:  44.0
Mean:  41.416666666666664

With Outlier
Median:  45.0
Mean:  53.61538461538461

# For mode we use a specific library named scipy

In [11]:
from scipy import stats
stats.mode(age)

/tmp/ipykernel_105/1371876584.py:2: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(age)

ModeResult(mode=array([45]), count=array([2]))

# Thus the answer is 45, count is two|