In [1]:
"""
Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of data stored and accessed electronically. Databases allow for efficient
data management with functions for storing, 
retrieving, and manipulating data.
SQL (Structured Query Language) Databases: These are relational databases that use SQL for defining and manipulating the data.
Data is stored in tables and 
these tables are linked based on relationships. SQL databases are best for complex queries and follow ACID properties 
(Atomicity, Consistency, Isolation,
Durability).
NoSQL (Not only SQL) Databases: NoSQL databases do not require a fixed schema and avoid join operations. 
They're good for large sets of distributed data.
NoSQL databases can store structured, semi-structured, or unstructured data and can scale horizontally. 
They focus on the CAP theorem 
(Consistency, Availability, Partition tolerance).

Key Differences:

    SQL databases require a predefined schema, NoSQL doesn't.
    SQL databases scale vertically (more power to the existing server), NoSQL databases scale horizontally (more servers).
    SQL databases are great for complex queries, NoSQL databases are not as strong in this area.
    SQL databases follow ACID properties, NoSQL databases follow the CAP theorem.

"""

"\nQ1. What is a database? Differentiate between SQL and NoSQL databases.\n\nA database is an organized collection of data stored and accessed electronically. Databases allow for efficient\ndata management with functions for storing, \nretrieving, and manipulating data.\nSQL (Structured Query Language) Databases: These are relational databases that use SQL for defining and manipulating the data.\nData is stored in tables and \nthese tables are linked based on relationships. SQL databases are best for complex queries and follow ACID properties \n(Atomicity, Consistency, Isolation,\nDurability).\nNoSQL (Not only SQL) Databases: NoSQL databases do not require a fixed schema and avoid join operations. \nThey're good for large sets of distributed data.\nNoSQL databases can store structured, semi-structured, or unstructured data and can scale horizontally. \nThey focus on the CAP theorem \n(Consistency, Availability, Partition tolerance).\n\nKey Differences:\n\n    SQL databases require a predefined schema, NoSQL doesn't.\n    SQL databases scale vertically (more power to the existing server), NoSQL databases scale horizontally (more servers).\n    SQL databases are great for complex queries, NoSQL databases are not as strong in this area.\n    SQL databases follow ACID properties, NoSQL databases follow the CAP theorem.\n\n"

In [2]:
"""
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, used to define and manage structures in a database.
1) CREATE: Used to create a new table or database.
		CREATE TABLE Students (StudentID int, StudentName varchar(255));

2)DROP: Used to delete a table or database.
		DROP TABLE Students;

3)ALTER: Used to modify the structure of a database.
		ALTER TABLE Students ADD Age int;

4)TRUNCATE: Used to remove all records from a table.
This removes all records from 'Students' but keeps the table structure.
		TRUNCATE TABLE Students;

"""

"\nQ2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.\n\nDDL stands for Data Definition Language, used to define and manage structures in a database.\n1) CREATE: Used to create a new table or database.\n\t\tCREATE TABLE Students (StudentID int, StudentName varchar(255));\n\n2)DROP: Used to delete a table or database.\n\t\tDROP TABLE Students;\n\n3)ALTER: Used to modify the structure of a database.\n\t\tALTER TABLE Students ADD Age int;\n\n4)TRUNCATE: Used to remove all records from a table.\nThis removes all records from 'Students' but keeps the table structure.\n\t\tTRUNCATE TABLE Students;\n\n"

In [3]:
"""

Q3) What is DML? Explain INSERT, UPDATE, and DELETE with an example.
DML stands for Data Manipulation Language. It is used to manage data within schema objects.

INSERT: Used to insert data into a table.
		(This adds a new row to the 'Students' table)
		INSERT INTO Students (StudentID, StudentName) VALUES (1, 'John');

UPDATE: Used to modify existing records.
		(This updates 'Age' for the student with 'StudentID' 1.)
		UPDATE Students SET Age = 14 WHERE StudentID = 1;

DELETE: Used to delete existing records.
		(This deletes the student with 'StudentID' 1 from 'Students'.)
		DELETE FROM Students WHERE StudentID = 1;

"""

"\n\nQ3) What is DML? Explain INSERT, UPDATE, and DELETE with an example.\nDML stands for Data Manipulation Language. It is used to manage data within schema objects.\n\nINSERT: Used to insert data into a table.\n\t\t(This adds a new row to the 'Students' table)\n\t\tINSERT INTO Students (StudentID, StudentName) VALUES (1, 'John');\n\nUPDATE: Used to modify existing records.\n\t\t(This updates 'Age' for the student with 'StudentID' 1.)\n\t\tUPDATE Students SET Age = 14 WHERE StudentID = 1;\n\nDELETE: Used to delete existing records.\n\t\t(This deletes the student with 'StudentID' 1 from 'Students'.)\n\t\tDELETE FROM Students WHERE StudentID = 1;\n\n"

In [4]:
"""
Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. The main DQL command is SELECT, which is used to query data within the database.
SELECT: Used to fetch data from a database.
		SELECT StudentName FROM Students WHERE Age > 14;

"""

'\nQ4. What is DQL? Explain SELECT with an example.\n\nDQL stands for Data Query Language. The main DQL command is SELECT, which is used to query data within the database.\nSELECT: Used to fetch data from a database.\n\t\tSELECT StudentName FROM Students WHERE Age > 14;\n\n'

In [ ]:
"""
"""