# One Hot Encoder

In [10]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [11]:
# Create a sample data frame with a categorical variable 
df=pd.DataFrame({
    'colour':['red','blue','green','red','blue']
})
df

  colour
0    red
1   blue
2  green
3    red
4   blue

In [12]:
### Create am instance of one hot encoder 
encoder= OneHotEncoder()
encoder.fit_transform(df[['colour']])
# We got a sparse matrix

<5x3 sparse matrix of type '<class 'numpy.float64'>'
	with 5 stored elements in Compressed Sparse Row format>

In [13]:
# Convert the sparse matrix into an array 
encoder.fit_transform(df[['colour']]).toarray()
# It will first sort everything alphabetically and then assign

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.]])

In [20]:
# Fit the encoder to the dataframe and transforme the categorical variable 
encoded=encoder.fit_transform(df[['colour']])
import pandas as pd 
o=pd.DataFrame(encoded.toarray(),columns=encoder.get_feature_names_out())

   colour_blue  colour_green  colour_red
0          0.0           0.0         1.0
1          1.0           0.0         0.0
2          0.0           1.0         0.0
3          0.0           0.0         1.0
4          1.0           0.0         0.0

In [ ]:
pd.concat([df,])